.container {
  background-color: #f4f4f4;
  padding: 0 5%;
}
.smallcontainer {
  background-color: white;
  /* padding: 10px; */
}

.imgdiv {
  display: flex;
}
.imgdiv img {
  width: 50%;
}
.agediv {
  display: flex;
  /* gap: 27px; */
  justify-content: center;
  align-items: center;
}
.agediv > img {
  width: calc(100% / 7);
}
.cardiv {
  justify-content: center;
  display: flex;
}
.cardiv img {
  width: calc(100% / 5);
}

.girldiv {
  display: flex;
  gap: 0px;
}
.left {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(3,1fr); */
  /* row-gap: 0px; */
}
.down {
  margin-top: -5px;
}
.right {
  display: flex;
  flex-direction: column;
}
.girldiv img {
  height: 260px;
  width: 215px;
}
.branddiv {
  display: flex;
  flex-direction: column;
}
.branddiv img {
  height: 120px;
  width: 160px;
}

.sportdiv img {
  height: 430px;
  width: 256px;
}
.smallbabyCard img {
  height: 420px;
  width: 321px;
}
.watchdiv img {
  width: 161px;
  height: 270px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 2%;
  }

  .girldiv {
    display: flex;
    gap: 0px;
  }
  .left {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(3,1fr); */
    /* row-gap: 0px; */
  }
  .down {
    margin-top: -5px;
  }
  .right {
    display: flex;
    flex-direction: column;
  }
  .girldiv img {
    height: 80px;
    width: 55px;
  }
  .branddiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .branddiv img {
    height: 120px;
    width: 160px;
  }

  .sportdiv img {
    height: 430px;
    width: 256px;
  }
  .smallbabyCard img {
    height: 100px;
    width: 321px;
  }

  .watchdiv img {
    width: 161px;
    height: 270px;
  }
}
