.container {
  color: #575757;
  font-size: 12px;
  background-color: #ffffff;
  margin: 0px 0px 50px;
  border: 2px solid red;
  /* height: 500px; */
  width: 993px;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top {
  color: #575757;
  font-size: 12px;
  background-color: #ffffff;
  border: 2px solid green;
  height: 43px;
  width: 100%;
}

.main {
  border: 2px solid purple;

  color: #575757;
  font-size: 12px;
  background-color: #ffffff;
  margin: 0px 0px 50px;
}

.main_inner {
  border: 2px solid rgb(180, 17, 44);
  color: #575757;
  font-size: 12px;
  background-color: #ffffff;
  margin: 10px 0px;
  display: flex;
}

.left_sec {
  border: 2px solid purple;
  height: 100px;
  width: 22%;
}

.right_sec {
  margin: 0px 0px 0px 40px;
  /* height: 100px; */
  border: 2px solid purple;
  width: 78%;
}

.right_heading2 {
  height: 66px;
  width: 100%;
  font-size: 14px;
  border: 1px solid black;
  padding: 0px 0px 7px;
}
.right_heading {
  display: flex;
  justify-content: space-between;
}

.head {
  height: 25px;
  font-size: 12px;
  margin: 9px 0px 6px;
  border: 1px solid grey;
}

.sortby_dropdown {
  border: 1px solid #424242;
  width: 174px;
  height: 28px;
  margin: 7px 0px 5px;
  padding: 4px 0px 2px 9px;
}

.sortby_dropdown > div {
  height: 17px;
  width: 163px;
  color: #424242;
  font-size: 12px;
  padding: 0px 0px 0px 3px;
  background-color: grey;
}

.sorthead {
  height: 27px;
  font-size: 12px;
  border: 1px solid grey;
}

.sorthead2 {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.products_sec {
  width: 98%;
  margin: auto;
  border: 5px solid black;
  /* height: 200px; */
}

.prods_sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.prods_sec > div {
  height: 417px;
  width: 100/3%;
  border: 1px solid darkblue;
}

.imgdim {
  height: 265px;
  width: 218px;
  align-items: center;
  border: 1px solid red;
}

.prodtitle h3 {
  font-size: 12px;
  font-weight: 400;
  width: 95%;
  margin: auto;
}

.bothprices {
  display: flex;
  gap: 20px;
}

.prodprice p {
  font-size: 14px;
  color: #575757;
  font-weight: bold;
}

.addbtn {
  margin-top: 8px;
  background-color: rgb(237, 103, 54);
  height: 36px;
  width: 115px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.addbtn h3 {
  color: white;
  font-size: 16px;
  /* display: flex; */
  text-align: center;
}
/* .addbtn h3 {
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
