.master {
  box-sizing: border-box;

  background-color: red;
}

.topSection {
  background-color: #d9f3f4;
  /* height: 700px; */
}
.leftRightdivContainer {
  display: flex;
  gap: 125px;
  padding-left: 60px;
  padding-right: 50px;
  margin-top: 80px;
}

.left {
  width: 70%;
  display: flex;
  gap: 12px;
}

.right {
  /* margin-top: -10px; */
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category1 {
  width: 25%;
}
.category1 span {
  color: #484848;
}
.category1 p {
  font-size: 12px;
  color: #575757;
  margin: 0px 0px 6px;
}
.category1 p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.category2 {
  width: 25%;
}
.category2 span {
  color: #484848;
}
.category2 p {
  font-size: 12px;
  color: #575757;
  margin: 0px 0px 6px;
}
.category2 p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.category3 {
  width: 24%;
}
.category3 span {
  color: #484848;
}
.category3 p {
  font-size: 12px;
  color: #575757;
  margin: 0px 0px 6px;
}
.category3 p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.category4 {
  width: 26%;
}
.category4 span {
  color: #484848;
}
.category4 p {
  font-size: 12px;
  color: #575757;
  margin: 0px 0px 6px;
}

.category4 p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.socialmediadiv {
  display: flex;
  font-size: 20px;
  gap: 2px;
  color: #484848;
  cursor: pointer;
  margin-bottom: 3px;
}

.i_div {
  display: flex;
  justify-content: center;
  gap: 100px;
  /* margin-top: 70px; */
  margin-bottom: 50px;
  padding-top: 50px;
}

.icon_title {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.icon_title span {
  font-size: 15px;
  color: #676767;
  cursor: pointer;
}
.icon_title img {
  height: 40px;
}

.hr {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 92%;
}
.botomF {
  padding-left: 60px;
  font-size: 11px;
  color: #484848;
  /* padding: 20px 0px 0px; */
}

.botomtext {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  /*  for icon + tittle first */

  .i_div {
    flex-direction: column;
    gap: 20px;
    margin-left: -90px;
  }

  .icon_title span {
    font-size: 18px;
  }
  .icon_title img {
    height: 50px;
  }

  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .right {
    width: 78%;
    display: flex;

    flex-direction: column;
    margin: auto;
  }

  .leftRightdivContainer {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 50px;
  }
  .category1 {
    width: 100%;
  }
  .category1 span {
    color: #484848;
    font-size: 18px;
    font-weight: 500;
  }
  .category1 p {
    font-size: 16px;
    color: #575757;
    margin: 0px 0px 6px;
  }
  .category1 p:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .category2 {
    width: 100%;
  }
  .category2 span {
    color: #484848;
    font-size: 18px;
    font-weight: 500;
  }
  .category2 p {
    font-size: 16px;
    color: #575757;
    margin: 0px 0px 6px;
  }
  .category2 p:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .category3 {
    width: 100%;
  }
  .category3 span {
    color: #484848;
    font-size: 18px;
    font-weight: 500;
  }
  .category3 p {
    font-size: 16px;
    color: #575757;
    margin: 0px 0px 6px;
  }
  .category3 p:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .category4 {
    width: 100%;
    margin-bottom: 10px;
  }
  .category4 span {
    color: #484848;
    font-size: 18px;
    font-weight: 500;
  }
  .category4 p {
    font-size: 16px;
    color: #575757;
    margin: 0px 0px 6px;
  }

  .category4 p:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .socialmediadiv {
    display: flex;
    font-size: 20px;
    gap: 2px;
    color: #484848;
    cursor: pointer;
    margin-bottom: 3px;
  }
  .botomF {
    padding-left: 0px;
    font-size: 13px;
    color: #484848;
    margin-left: 42px;
    margin-right: 42px;
  }

  .botomtext {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 100px;
  }
}
